UD2/A1UD2DOM_RodalPerezEloy/EJ4_A1UD2/Hoteles.dtd

<!ELEMENT Hoteles (Hotel)>
<!ELEMENT Hotel (Nombre,Telefono,Direccion)>
<!ATTLIST Hotel id NMTOKEN #REQUIRED>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Telefono (#PCDATA)>
<!ELEMENT Direccion (Calle,Numero,CodigoPostal)>
<!ELEMENT Calle (#PCDATA)>
<!ELEMENT Numero (#PCDATA)>
<!ELEMENT CodigoPostal (#PCDATA)>